<div class="admin-sidebar">
  <a routerLink="/seller"><h3>My Account</h3></a>
  <ul>
    <li>
        <img
          width="20px"
          height="20px"
          src="https://d145dj1pf6foch.cloudfront.net/dashboardicons/personalDetails.svg"
        />
        <span [ngClass]="{'current' : page === 'my-account' }"><a routerLink="/seller/my-account">Personal Details </a></span>
    </li>
    <li>
      <img
          width="20px"
          height="20px"
          src="https://d145dj1pf6foch.cloudfront.net/dashboardicons/myOrders.svg"
        />
        <span [ngClass]="{'current' : page === 'orders' }"><a routerLink="/seller/orders">My Orders</a></span>
    </li>
    <li>
        <i class="pi pi-briefcase two"></i>
        <span [ngClass]="{'current' : page === 'products' }"><a routerLink="/seller/products">Products</a></span>
    </li>
  </ul>
</div>
