/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'assets/styles/_styles.scss'; // Override prime ng styles
@import '~primeflex/primeflex.css';
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';

*{
  font-family: 'Montserrat', sans-serif;
  color: #1d1d1b;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Merriweather', serif;
  color: #1d1d1b;
}

.yellow-btn{
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: #ffed00;
  color: #1d1d1b !important;
  font-weight: 700;
  transition: all .4s;
  border: 1px solid #ffed00;
  text-transform: uppercase;
  border: none;
}

.yellow-btn:hover{
  background-color: black;
  color: white !important;
}
.black-btn{
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: white !important;
  font-weight: 700;
  transition: all .4s;
  border: 1px solid black;
  text-transform: uppercase;
  border: none;
}

.black-btn:hover{
  background-color: #ffed00;
  color: #1d1d1b !important;
}
