<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>

 <footer>
   <div class="content">
     <div class="left box">
       <div class="upper">
         <div class="topic">About us</div>
         <p>This online shopping website is the best you can find for shopping.
           We have everything you need and we have the fastest shipping in the entire universe. Have fun shopping :).
         </p>
       </div>
       <div class="lower">
         <div class="topic">Contact us</div>
         <div class="phone">
           <a href="#"><i class="fas fa-phone-volume"></i>+123 456 7890</a>
         </div>
         <div class="email">
           <a href="#"><i class="fas fa-envelope"></i>blahblah@gmail.com</a>
         </div>
       </div>
     </div>
     <div class="middle box">
       <div class="topic">Customer Care</div>
       <div><a href="#">My Account</a></div>
       <div><a href="#">Help & Support</a></div>
       <div><a href="#">Refund Policy</a></div>
       <div><a href="#">Delivery Locations</a></div>

     </div>
     <div class="right box">
       <div class="topic">Subscribe us</div>
       <form action="#">
         <input type="text" placeholder="Email">
         <input type="submit" name="" value="Submit">
         <div class="media-icons">
           <a href="#"><i class="fab fa-facebook-f"></i></a>
           <a href="#"><i class="fab fa-instagram"></i></a>
           <a href="#"><i class="fab fa-twitter"></i></a>
           <a href="#"><i class="fab fa-youtube"></i></a>
           <a href="#"><i class="fab fa-linkedin-in"></i></a>
         </div>
       </form>
     </div>
   </div>

 </footer>


