.wrapper {
  width: 95%;
  margin: auto;
}

@media(max-width: 550px){
    .wrapper {
        width: 100%;
        margin: auto;
      }
}

#welcome-title {
  margin-bottom: 5px !important;
}

#welcome-message {
  margin-top: 0;
  margin-bottom: 10px;
}

.grid.one {
  margin: 0;
  padding: 10px;
 // justify-content: space-evenly;
}

.grid.two{
    margin: 0px;

}

.title1 {
  display: inline-block;
  font-size: 18px;
  margin: 0;
}

.container-top {
  padding: 15px 30px;
  border: 1px solid #e7e7e7;
  border-top: 5px solid #333;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

i.one {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

i.two{
    font-size: 1.95rem;
}

span.points,
span.price {
  float: right;
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: gray;
  font-weight: 600;
}

.container-bottom{
    height: 200px;
    padding: 30px;
    border: 1px solid #e7e7e7;
    border-top: 5px solid #ffed00;
    text-align: center;
    margin: 0 10px;
    margin-bottom: 20px;
}


.title2 {
    font-size: 18px;
    margin: 0;
  }

