<div id="image">

  <div id="loginDialogBox">

    <div id="topSection">
      <h1>Sign Up</h1>
    </div>

    <div id="bottomSection">

      <div id="form">

        <form [formGroup]="signupForm">

          <input type="text" pInputText class="p-inputtext-m" placeholder="First Name" formControlName="firstName">

          <h3></h3>

          <input type="text" pInputText class="p-inputtext-m" placeholder="Last Name" formControlName="lastName">

          <h3></h3>

          <input type="email" pInputText class="p-inputtext-m" placeholder="email" formControlName="email">

          <h3></h3>

<!--          <p-password formControlName="password" placeholder="Password"></p-password>-->
          <input formControlName="password" pinputtext="" class="p-inputtext p-component p-element ng-tns-c110-1" ng-reflect-ng-class="[object Object]" type="password" placeholder="Password">

          <h3></h3>

<!--          <p-password formControlName="password2" [feedback]="false" placeholder="Retype password"  ></p-password>-->
          <input formControlName="password2" pinputtext="" class="p-inputtext p-component p-element ng-tns-c110-1 p-password-input" ng-reflect-ng-class="[object Object]" type="password" placeholder="Retype password">

          <h3></h3>

        </form>

          <p>sign up for a seller's account?</p>

          <p-inputSwitch (onChange)="handleChange($event)" [(ngModel)]="isSeller"></p-inputSwitch>

          <h3></h3>

          <div id="submit">
            <button class="yellow-btn" (click)="submit()">Sign up</button>
          </div>

          <p>have an account? click <a routerLink="/auth/login"> here </a> to login</p>


      </div>

    </div>

  </div>

</div>
