.header{
    height: 200px;
    width: 100%;
    border-bottom:0.1px solid black;
}

.innerheader{
    height: 36%;
    width: 80%;
    display: block;
    background-color: rgb(255, 255, 255);
    margin-left: 0px;
    margin-top: 10px;
}

.image{
    transition: all 2s ease-in-out 0.2s;
    width: 100px;
    margin-top: 20px;
    
    position: relative;
    margin-left: 20px;
   

}

.image:hover{
  transform: rotateZ(360deg);
 
 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  nav{
    
    z-index: 99;
    width: 100%;
    
    background: white;
    opacity: 0.99;
  }
  nav .wrapper{
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper .logo a{
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
  }
  .wrapper .nav-links{
    display: inline-flex;
  }
  .nav-links li{
    list-style: none;
  }
  .nav-links li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 0px;
    transition: all 0.3s ease;
  }
  .nav-links li a:hover{
    background: #ffed00;
    color: black;
  }
  .nav-links .mobile-item{
    display: none;
  }
  .nav-links .drop-menu{
    position: absolute;
    background: #242526;
    width: 180px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }
  .nav-links li:hover .drop-menu, .nav-links li:hover .mega-box{
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
  }
  .drop-menu li a{
    width: 100%;
    display: block;
    border-radius: 0px;
    padding: 0 0 0 15px;
    font-weight: 400;
    
  }
  .mega-box{
    position: absolute;
    left: 0;
    width: 50%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
  }
  .mega-box .content{
    background: #242526;
    padding: 25px 20px;
    display: block;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }
  .mega-box .content .row{
   
    line-height: 45px;
  }
  .content .row img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .content .row header{
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
  }
  .content .row .mega-links{
    margin-left: -40px;
    border-left: 1px solid rgba(255,255,255,0.09);
  }
  .row .mega-links li{
    padding: 0 20px;
  }
  .row .mega-links li a{
    padding: 0px;
    padding: 0 20px;
    color: #d9d9d9;
    font-size: 17px;
    display: block;
  }
  .row .mega-links li a:hover{
    color: #131313;
  }
  .wrapper .btn{
    color: black;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  .wrapper .btn.close-btn{
    position: absolute;
    right: 30px;
    top: 10px;
  }
  
  .mobilebuttons{
    display: none;
    width: 0px;
    height: 0px;
    
  }


  @media screen and (max-width: 1000px) {


    .mobilebuttons {
      display: block;
  } 
    .desktopbuttons {
      display: none;
  } 
    
      


    .mobilebuttons{
      margin-top: 100px;
    }



    .image{
      margin-top: 20px;
    }
    .innerheader{
      width: 130%;
    }


    .wrapper .btn{
      display: block;
    }
    .wrapper .nav-links{
      position: fixed;
      height: 100vh;
      width: 100%;
      
      top: 0;
      left: -100%;
      background: #242526;
      display: block;
      padding: 50px 10px;
      line-height: 50px;
      overflow-y: auto;
      box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
      transition: all 0.3s ease;
      color: rgb(10, 9, 9);
    }
    
    #menu-btn:checked ~ .nav-links{
      left: 0%;
    }
    #menu-btn:checked ~ .btn.menu-btn{
      display: none;
    }
    #close-btn:checked ~ .btn.menu-btn{
      display: block;
    }
    .nav-links li{
      margin: 15px 10px;
    }
    .nav-links li a{
      padding: 0 20px;
      display: block;
      font-size: 20px;
    }
    .nav-links .drop-menu{
      position: static;
      opacity: 1;
      top: 65px;
      visibility: visible;
      padding-left: 20px;
      width: 100%;
      max-height: 0px;
      overflow: hidden;
      box-shadow: none;
      transition: all 0.3s ease;
    }
    #showDrop:checked ~ .drop-menu,
    #showMega:checked ~ .mega-box{
      max-height: 100%;
    }

    .hidethis{
      visibility: hidden;
    }
    .nav-links .desktop-item{
      
      display: none;
    }
    .nav-links .mobile-item{
      display: block;
      color: #f2f2f2;
      font-size: 20px;
      font-weight: 500;
      padding-left: 20px;
      cursor: pointer;
      border-radius: 0px;
      transition: all 0.3s ease;
    }
    .nav-links .mobile-item:hover{
      background: #202020;
    }
    .drop-menu li{
      margin: 0;
    }
    .drop-menu li a{
      border-radius: 0px;
      font-size: 18px;
    }
    .mega-box{
      position: static;
      top: 65px;
      opacity: 1;
      visibility: visible;
      padding: 0 20px;
      max-height: 0px;
      overflow: hidden;
      transition: all 0.3s ease;
      width: 100%;
    }
    .mega-box .content{
      box-shadow: none;
      flex-direction: column;
      padding: 20px 20px 0 20px;
    }
    .mega-box .content .row{
      
      margin-bottom: 15px;
      border-top: 1px solid rgba(255,255,255,0.08);
    }
    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2){
      border-top: 0px;
    }
    .content .row .mega-links{
      border-left: 0px;
      padding-left: 15px;
    }
    .row .mega-links li{
      margin: 0;
    }
    .content .row header{
      font-size: 19px;
    }
  }
  nav input{
    display: none;
  }
  .body-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 0 30px;
  }
  .body-text div{
    font-size: 45px;
    font-weight: 600;
  }



  .searchiconimg{
    width: 33px;
  }

  .searchicon{
    margin-top: 60px;
    width: 39px;
    float: right;
    
    height: 39px;
   }

   .searchicon:hover{
     background-color: rgb(255, 255, 255);
   }


   .login{
    float: right;
    width: 100px;
    height: 39px;
    margin-top: 60px;
    margin-right:0%;
   }
   .cart{
    float: right;
    width: 50px;
    height: 39px;
    margin-top: 60px;
    margin-right:1%;
    
   }

   .cart:hover{
     background-color: white;
   }

   .signup{
      float: right;
      width: 100px;
      height: 39px;
      margin-top: 60px;
      
     
   }
   .carticon{width: 34px}
   


  .searchbox{
    float: right;
    padding: 6px;
    width: 360px;
    height: 39px;
    border: none;
    margin-top: 60px;
    margin-right: 30px;
    font-size: 17px;
    text-align: left;
    background-color: rgb(236, 236, 236);
  }

  @media screen and (max-width: 1000px) {

    .header{
      height: 300px;
      width: 100%;
      border-bottom:0.1px solid black;
    }



    .innerheader{
      width: 100%;margin-bottom: 0px;
    }

    .mobilesearchitem{

      margin-bottom: 100px;
    }

    
    .searchicon{
      float: right;
      width: 19%;
      height: 37px;
      margin-top: 5px;
      margin-right: 0px;
    }
    .searchbox  {
      float: none;
      display: block;
      text-align: center;
      width: 80%;
      margin: 0;
      float: left;
      padding: 12px;
      margin-top: 2px;
    }
    .searchbox {
      border: 1px solid rgb(235, 235, 235);
    }

    .login{
      float: left;
      width: 40%;
      height: 39px;
   
     }
  
     .signup{
        float: left;
        width: 40%;
        height: 39px;
       
       
     }

     .cart{
       border-radius: 0px;
      float: right;
      width: 19%;
      height: 39px;
      margin-top: 1%;
      margin-right: 0px;
     
   }




  }