<div class="wrapper">
  <app-sidebar [page]="'products'"></app-sidebar>

  <app-menu-panel [page] = "'products'"></app-menu-panel>

  <div class="products-content">
    <div class="page-title-wrapper">
      <h1>My Products</h1>
      <p>Manage or edit products</p>
    </div>

    <!-- displays in case there are no products -->
    <div *ngIf="products.length == 0" class="empty">
      <span>
        <i class="pi pi-info-circle"></i>
        You have no products.
      </span>
    </div>
  </div>
</div>
