.wrapper {
  width: 75%;
  margin: auto;
  // background-color: lightblue;
}


.products-content {
  padding-left: 20px;
  width: calc(100% - 200px);
  margin-left: 200px;
  // float: right;
}

.empty {
  background-color: #4eb051;
  padding: 12px 20px 12px 25px;
  margin: 0 0 10px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
}

.page-title-wrapper h1 {
  border-bottom: 1px solid #e7e7e7;
  line-height: 30px;
  margin-bottom: 15px;
  margin-top: 0;
  font-size: 28px;
}

.page-title-wrapper p {
  margin-top: 0px;
  margin-bottom: 20px;
  font: 14px;
}

@media (max-width: 1050px) {
  .wrapper {
    width: 95%;
    margin: auto;
  }
}

@media (max-width: 800px) {
  app-sidebar {
    display: none;
  }


  .products-content {
    display: block;
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    padding: 0px;
    margin-bottom: 70px;
  }

  .page-title-wrapper h1 {
    font-size: 24px;
  }

  .page-title-wrapper p {
    font-size: 15px;
  }
}

// menu-panel css
