<div class="menu-panel {{ isNavOpen ? 'open' : 'close' }}">
  <div class="test">
    <h3><a routerLink="/seller">My Account</a></h3>
    <label for="list-item-1"
      ><i
        (click)="onTriggerNav()"
        class="pi {{ isNavOpen ? 'pi-angle-up' : 'pi-angle-down' }}"
      ></i
    ></label>
  </div>
  <ul class="{{ isNavOpen ? 'animate' : 'hide' }}">
    <li>
      <span [ngClass]="{ current: page == 'my-account' }"
        ><a routerLink="/seller/my-account">Personal Details</a></span
      >
    </li>
    <li><span [ngClass]="{ current: page == 'orders' }"> <a routerLink="/seller/orders">My Orders</a></span></li>
    <li><span [ngClass]="{'current' : page == 'products' }"> <a routerLink="/seller/products">Products</a></span></li>
    <li><span>Filler</span></li>
    <li><span>Filler</span></li>
  </ul>
</div>
