
.main {
  min-height: 140vh;
}

.p-price {
  font-size: 18px;
  font-weight: 700;
  .p-qty {
    font-size: 12px;
    font-weight: 500;
    color: #999;
    line-height: 14px;
  }
}
.product-img{
  width: 100% !important;
}
.btn-wrap {
  width: 100%;
  margin: auto;
  margin-top: 9px;
  .black-btn {
    width: 100%;
    height: 40px;
    img {
      width: 20px;
    }
  }
}

.product-item{
  width: 100%;
  float: left;
  padding: 1%;
  border-bottom: 0.01em solid #dddbdb;
}

.product-item-content{
  float: left;
  border-radius: 2%;
  margin: 1%;
  text-align: center;
  .product-img{
    max-width: 200px;
    height: 200px;
  }
}

