<div class="wrapper">
  <app-sidebar [page]="'orders'"></app-sidebar>

  <app-menu-panel [page]="'orders'"></app-menu-panel>

  <div class="orders-content">
    <div class="page-title-wrapper">
      <h1>My Orders</h1>
      <p>Manage or edit orders</p>
    </div>

    <!-- displays in case there are no products -->
    <div *ngIf="!orders" class="empty">
      <span>
        <i class="pi pi-info-circle"></i>
        You have no orders.
      </span>
    </div>
    <div class="order-container" *ngFor="let order of orders">
      <p-card class="order" >
        <div class="grid">
          <div class="col-11 padd-0">
            <p class="date">
              <b>{{ order.placedOn | date: "medium" }}</b>
            </p>
            <p class="mar-0 light">Order: #{{ order._id }}</p>
          </div>
        </div>
        <div class="products grid">
          <p class="col-6" style="padding-left: 0">
            Product Name: {{ order.product.name }}
          </p>
          <img
            class="col-6 col-offset-2"
            [src]="order.product.img"
            style="width: 95px"
          />
          <!-- <img *ngFor="let product of order.product.slice(0,7)" [src]="product.img" alt="" class="product-img"> -->
        </div>
        <div class="grid text-center">
          <p class="col-4 mar-0 border-right-1 border-300 pt-3">
            <b>Products: </b> {{ order.product.quantity }}
          </p>
          <p class="col-4 mar-0 pt-3 border-right-1 border-300">
            <b>Total: </b> ${{ order.total.$numberDecimal }}
          </p>
          <button
            *ngIf="!order.state || order.state != 'Complete'"
            class="col-4 m-auto pt-3 yellow-btn"
            style="width: 190px"
            (click)="sendOrder(order)"
          >
            Send Order
          </button>

          <p class="col-4 mar-0 pt-3" *ngIf="order.state == 'Complete'">
            Order Sent!
          </p>
        </div>
      </p-card>
    </div>
  </div>
</div>
