<div id="image">
  <div id="loginDialogBox">
    <div id="topSection">
    </div>
    <div id="bottomSection">
      <div id="emailLogin">
      </div>
      <div id="apiLogin">
<!--        <button pButton type="button" class="p-button-raised p-button-rounded">Apple</button>-->
        <br>
<!--        <button pButton type="button" class="p-button-raised p-button-rounded">Facebook</button>-->
        <br>
<!--        <button pButton type="button" class="p-button-raised p-button-rounded">Google</button>-->
      </div>
    </div>
  </div>
</div>
