
<div id="image">

  <div id="loginDialogBox">

    <div id="topSection">
      <h1>Login</h1>
    </div>

      <div id="bottomSection">

        <div id="form">

          <form [formGroup]="loginForm">

            <input type="text" pInputText class="p-inputtext-m" placeholder="email" formControlName="email">

            <h3></h3>

<!--            <p-password formControlName="password" placeholder="Password"></p-password>-->
            <input formControlName="password" pinputtext="" class="p-inputtext p-component p-element ng-tns-c110-2 p-password-input" ng-reflect-ng-class="[object Object]" type="password" placeholder="Password">

            <h3></h3>

            <div id="submit">
              <button class="yellow-btn" (click)="submit()">Log in</button>
            </div>

            <p>new? click <a routerLink="/auth/signup"> here </a> to register</p>

          </form>

        </div>

      </div>

    </div>

  </div>


<div class="p-fluid grid"></div>

