
    <section class="section-content padding-y bg">
        <div class="container">
    
        <article class="card">
            <div class="card-body">
                    <div class="row">
                        <aside class="col-md-6">
                                <article class="gallery-wrap">
                                    <div class="card img-big-wrap">
                                        <a href="#"> <img src="assets/images/items/xbox/xbox.png"></a>
                                    </div> <!-- card img-big-wrap.// -->
                                    <div class="thumbs-wrap">
                                        <a href="#" class="item-thumb"> <img src="assets/images/items/xbox/xbox.png"></a>
                                        <a href="#" class="item-thumb"> <img src="assets/images/items/xbox/front.png"></a>
                                        <a href="#" class="item-thumb"> <img src="assets/images/items/xbox/controller.png"></a>
                                        
                                    </div> <!-- thumbs-wrap .// -->
                                </article> <!-- gallery-wrap .end// -->
                        </aside>
                        <main class="col-md-6">
                            <article>
                                <a href="#" class="text-primary btn-link">Electronics</a>
                                <h3 class="title">Xbox series X</h3>
                                <div>
                                    <ul class="rating-stars">
                                        <li  class="stars-active"> 
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                            <i class="fa fa-star"></i>  
                                            
                                        </li>
                                        <li>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                            <i class="fa fa-star"></i> 
                                        </li>
                                    </ul>
                                    <span class="label-rating mr-3 text-muted">3/5</span>
                                 
                                    
                                </div> 
        
                                <hr>
                                <div class="mb-3">
                                  <var class="price h1">$600.00</var> <br>
                                  </div>
                               <!-- price-detail-wrap .// -->     
                              
                              <div class="mb-4">
                                <a href="#" class="btn btn-primary mr-1">Buy now</a>
                                <a href="#" class="btn btn-light">Add to card</a>
                            </div>
                                <div class="mb-3">
                                    <h5>About this item</h5>
                                    <ul class="list-dots mb-0">
                                        <li>Hardware-accelerated ray tracing gives your games a heightened level of realism</li>
                                        <li>Play games at up to 120 frames per second* </li>
                                        <li>Minimize load times with a custom-built 512GB NVMe SSD and seamlessly move between multiple recently played games in a flash with Quick Resume</li>
                                        <li>Continue playing your Xbox One games on your Xbox Series S with your progress, achievements, and friends list automatically transferring over to the new system</li>
                                        
                                    </ul>
                                </div>
                                
                                    
                               
  
        
                               
                                
                            </article> <!-- product-info-aside .// -->
                        </main> <!-- col.// -->
                    </div> <!-- row.// -->
            </div> <!-- card-body.// -->
        </article>
  
        <article class="card mt-5">
            <div class="card-body">
                <div class="row">
                    <aside class="col-md-6">
                        <h5> Measurements </h5>
                        <dl class="row">
                              
                              <dt class="col-sm-3">Width</dt>
                              <dd class="col-sm-9">15.1 cm</dd>
        
                              <dt class="col-sm-3">Height</dt>
                              <dd class="col-sm-9">30.1 cm</dd>
        
                              <dt class="col-sm-3">Depth</dt>
                              <dd class="col-sm-9">15.1 cm</dd>
                              
                              <dt class="col-sm-3">Weight</dt>
                              <dd class="col-sm-9">
                                4.45 kg</dd>
                        </dl>
                    </aside>
                    <aside class="col-md-6">
                        <h5>included</h5>
                        <ul class="list-check">
                            <li>Xbox Series X Console</li>
                            <li>Xbox Wireless Controller</li>
                            <li>Ultra High Speed HDMI cable</li>
                            <li>Manules and paper work</li>
                           
                        </ul>
                    </aside>
                </div> <!-- row.// -->
                <hr>
                <p>
                  Get your hands on a gaming powerhouse with the Xbox Series X console. It pairs a custom 1TB SSD and 12 teraflops of graphics processing power for stunningly fast gameplay and reduced load times. Enjoy 4K gaming at up to 120fps, advanced 3D spatial sound, and more for an incredible experience. Plus, it supports thousands of titles across 4 generations of Xbox consoles.
                </p>
            </div> <!-- card-body.// -->
        </article>
        </div>
  
        
    
    </section>
    
