@charset "UTF-8";

.yellow-btn{
  height: 40px;
  pad: 2px;
}

*,
::after,
article,
aside,
main,
section {
    display: block
}

body {
    margin: 0;
    font-family: Inter, Arial, "Helvetica Neue", "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #343a40;
    text-align: left;
    background-color: #fff
}

[tabindex="-1"]:focus {
    outline: 0 !important
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

dl,
ul {
    margin-top: 0;
    margin-bottom: 1rem
}

ul ul {
    margin-bottom: 0
}

dt {
    font-weight: 600
}

dd {
    margin-bottom: .5rem;
    margin-left: 0
}

a {
    color: #3167eb;
    text-decoration: none;
    background-color: transparent
}

a:hover {
    color: #1244bd;
    text-decoration: underline
}

a:not([href]):not([tabindex]):focus,
img {
    vertical-align: middle;
    border-style: none
}

[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
    cursor: pointer
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    padding: 0;
    border-style: none
}

progress {
    vertical-align: baseline
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
[type=number]::-webkit-inner-spin-button,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    font-weight: 700;
    line-height: 1.3
}

.h1,
h1 {
    font-size: 2.5rem
}

.h2,
h2 {
    font-size: 2rem
}

.h3,
h3 {
    font-size: 1.75rem
}

.h4,
h4 {
    font-size: 1.5rem
}

.h5,
h5 {
    font-size: 1.25rem
}

.h6,
h6 {
    font-size: 1rem
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1)
}

.container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1200px
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9 {
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px
}

.col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%
}

.col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%
}

.col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%
}

.col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%
}

@media (min-width:768px) {
    .col-md {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .btn {
        display: inline-block;
        font-weight: 500;
        color: #343a40;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: .45rem .85rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .37rem;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
    }

    @media (prefers-reduced-motion:reduce) {
        .btn {
            transition: none
        }
    }

    .btn:hover {
        color: #343a40;
        text-decoration: none
    }

    .btn:focus {
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(49, 103, 235, .25)
    }

    .btn:disabled {
        opacity: .55;
        cursor: not-allowed
    }

    .btn-primary {
        color: #000;
        background-color: #ffed00;
        border-color: #ffed00
    }

    .btn-primary:hover {
        color: #fff;
        background-color: #000;
        border-color: #000
    }

    .btn-primary:focus {
        box-shadow: 0 0 0 .2rem rgba(80, 126, 238, .5)
    }

    .btn-primary:disabled {
        color: #fff;
        background-color: #ffed00;
        border-color: #ffed00
    }

    .btn-primary:not(:disabled):not(.disabled).active,
    .btn-primary:not(:disabled):not(.disabled):active {
        color: #fff;
        background-color: #154cd4;
        border-color: #1348c9
    }

    .btn-primary:not(:disabled):not(.disabled).active:focus,
    .btn-primary:not(:disabled):not(.disabled):active:focus {
        box-shadow: 0 0 0 .2rem rgba(80, 126, 238, .5)
    }

    .btn-info {
        color: #fff;
        background-color: #ffed00;
        border-color: #ffed00
    }

    .btn-info:hover {
        color: #fff;
        background-color: #138496;
        border-color: #117a8b
    }

    .btn-info:focus {
        box-shadow: 0 0 0 .2rem rgba(58, 176, 195, .5)
    }

    .btn-info:disabled {
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8
    }

    .btn-info:not(:disabled):not(.disabled).active,
    .btn-info:not(:disabled):not(.disabled):active {
        color: #fff;
        background-color: #117a8b;
        border-color: #10707f
    }

    .btn-info:not(:disabled):not(.disabled).active:focus,
    .btn-info:not(:disabled):not(.disabled):active:focus {
        box-shadow: 0 0 0 .2rem rgba(58, 176, 195, .5)
    }

    .btn-light {
        color: #212529;
        background-color: #e4e4e4;
        border-color: #e4e4e4
    }

    .btn-light:hover {
        color: #212529;
        background-color: #d1d1d1;
        border-color: #cbcbcb
    }

    .btn-light:focus {
        box-shadow: 0 0 0 .2rem rgba(199, 199, 200, .5)
    }

    .btn-light:disabled {
        color: #212529;
        background-color: #e4e4e4;
        border-color: #e4e4e4
    }

    .btn-light:not(:disabled):not(.disabled).active,
    .btn-light:not(:disabled):not(.disabled):active {
        color: #212529;
        background-color: #cbcbcb;
        border-color: #c4c4c4
    }

    .btn-light:not(:disabled):not(.disabled).active:focus,
    .btn-light:not(:disabled):not(.disabled):active:focus {
        box-shadow: 0 0 0 .2rem rgba(199, 199, 200, .5)
    }

    .btn-primary-light {
        color: #fff;
        background-color: #5f89f0;
        border-color: #5f89f0
    }

    .btn-primary-light:hover {
        color: #fff;
        background-color: #3d70ec;
        border-color: #3167eb
    }

    .btn-primary-light:focus {
        box-shadow: 0 0 0 .2rem rgba(119, 155, 242, .5)
    }

    .btn-primary-light:disabled {
        color: #fff;
        background-color: #5f89f0;
        border-color: #5f89f0
    }

    .btn-primary-light:not(:disabled):not(.disabled).active,
    .btn-primary-light:not(:disabled):not(.disabled):active {
        color: #fff;
        background-color: #3167eb;
        border-color: #255eea
    }

    .btn-primary-light:not(:disabled):not(.disabled).active:focus,
    .btn-primary-light:not(:disabled):not(.disabled):active:focus {
        box-shadow: 0 0 0 .2rem rgba(119, 155, 242, .5)
    }

    .btn-link {
        font-weight: 400;
        color: #e6d500;
        text-decoration: none
    }

    .btn-link:hover {
        color: #000;
        text-decoration: underline
    }

    .btn-link:focus {
        text-decoration: underline;
        box-shadow: none
    }

    .btn-link:disabled {
        color: #545454;
        pointer-events: none
    }

    .btn-sm {
        padding: .35rem .5rem;
        font-size: .82rem;
        line-height: 1.2;
        border-radius: .37rem
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: .37rem
    }

    .card>hr {
        margin-right: 0;
        margin-left: 0
    }

    .card-body {
        flex: 1 1 auto;
        padding: 1.25rem
    }

    .card-title {
        margin-bottom: .75rem
    }

    .card-text:last-child {
        margin-bottom: 0
    }

    .card-link:hover {
        text-decoration: none
    }

    .card-link+.card-link {
        margin-left: 1.25rem
    }

    .card-img {
        width: 100%;
        border-radius: calc(.37rem - 1px)
    }

    @-webkit-keyframes progress-bar-stripes {
        from {
            background-position: 1rem 0
        }

        to {
            background-position: 0 0
        }
    }

    @keyframes progress-bar-stripes {
        from {
            background-position: 1rem 0
        }

        to {
            background-position: 0 0
        }
    }

    .progress {
        display: flex;
        height: 1rem;
        overflow: hidden;
        font-size: .75rem;
        background-color: #e4e4e4;
        border-radius: .37rem
    }

    @-webkit-keyframes spinner-border {
        to {
            transform: rotate(360deg)
        }
    }

    @keyframes spinner-border {
        to {
            transform: rotate(360deg)
        }
    }

    @-webkit-keyframes spinner-grow {
        0% {
            transform: scale(0)
        }

        50% {
            opacity: 1
        }
    }

    @keyframes spinner-grow {
        0% {
            transform: scale(0)
        }

        50% {
            opacity: 1
        }
    }

    .bg-primary {
        background-color: #3167eb !important
    }

    a.bg-primary:focus,
    a.bg-primary:hover {
        background-color: #154cd4 !important
    }

    .bg-info {
        background-color: #17a2b8 !important
    }

    a.bg-info:focus,
    a.bg-info:hover {
        background-color: #117a8b !important
    }

    .bg-light {
        background-color: #e4e4e4 !important
    }

    a.bg-light:focus,
    a.bg-light:hover {
        background-color: #cbcbcb !important
    }

    .bg-primary-light {
        background-color: #5f89f0 !important
    }

    a.bg-primary-light:focus,
    a.bg-primary-light:hover {
        background-color: #3167eb !important
    }

    @supports ((position:-webkit-sticky) or (position:sticky)) {
        .sticky-top {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 1020
        }
    }

    .h-25 {
        height: 25% !important
    }

    .h-50 {
        height: 50% !important
    }

    .h-75 {
        height: 75% !important
    }

    .h-100 {
        height: 100% !important
    }

    .mt-0 {
        margin-top: 0 !important
    }

    .mr-0 {
        margin-right: 0 !important
    }

    .mb-0 {
        margin-bottom: 0 !important
    }

    .mt-1 {
        margin-top: .25rem !important
    }

    .mr-1 {
        margin-right: .25rem !important
    }

    .mb-1 {
        margin-bottom: .25rem !important
    }

    .mt-2 {
        margin-top: .5rem !important
    }

    .mr-2 {
        margin-right: .5rem !important
    }

    .mb-2 {
        margin-bottom: .5rem !important
    }

    .mt-3 {
        margin-top: 1rem !important
    }

    .mr-3 {
        margin-right: 1rem !important
    }

    .mb-3 {
        margin-bottom: 1rem !important
    }

    .mt-4 {
        margin-top: 1.5rem !important
    }

    .mr-4 {
        margin-right: 1.5rem !important
    }

    .mb-4 {
        margin-bottom: 1.5rem !important
    }

    .mt-5 {
        margin-top: 3rem !important
    }

    .mr-5 {
        margin-right: 3rem !important
    }

    .mb-5 {
        margin-bottom: 3rem !important
    }

    .p-0 {
        padding: 0 !important
    }

    .p-1 {
        padding: .25rem !important
    }

    .p-2 {
        padding: .5rem !important
    }

    .p-3 {
        padding: 1rem !important
    }

    .p-4 {
        padding: 1.5rem !important
    }

    .p-5 {
        padding: 3rem !important
    }

    @media (min-width:576px) {
        .mt-sm-0 {
            margin-top: 0 !important
        }

        .mr-sm-0 {
            margin-right: 0 !important
        }

        .mb-sm-0 {
            margin-bottom: 0 !important
        }

        .mt-sm-1 {
            margin-top: .25rem !important
        }

        .mr-sm-1 {
            margin-right: .25rem !important
        }

        .mb-sm-1 {
            margin-bottom: .25rem !important
        }

        .mt-sm-2 {
            margin-top: .5rem !important
        }

        .mr-sm-2 {
            margin-right: .5rem !important
        }

        .mb-sm-2 {
            margin-bottom: .5rem !important
        }

        .mt-sm-3 {
            margin-top: 1rem !important
        }

        .mr-sm-3 {
            margin-right: 1rem !important
        }

        .mb-sm-3 {
            margin-bottom: 1rem !important
        }

        .mt-sm-4 {
            margin-top: 1.5rem !important
        }

        .mr-sm-4 {
            margin-right: 1.5rem !important
        }

        .mb-sm-4 {
            margin-bottom: 1.5rem !important
        }

        .mt-sm-5 {
            margin-top: 3rem !important
        }

        .mr-sm-5 {
            margin-right: 3rem !important
        }

        .mb-sm-5 {
            margin-bottom: 3rem !important
        }

        .p-sm-0 {
            padding: 0 !important
        }

        .p-sm-1 {
            padding: .25rem !important
        }

        .p-sm-2 {
            padding: .5rem !important
        }

        .p-sm-3 {
            padding: 1rem !important
        }

        .p-sm-4 {
            padding: 1.5rem !important
        }

        .p-sm-5 {
            padding: 3rem !important
        }
    }

    @media (min-width:768px) {
        .mt-md-0 {
            margin-top: 0 !important
        }

        .mr-md-0 {
            margin-right: 0 !important
        }

        .mb-md-0 {
            margin-bottom: 0 !important
        }

        .mt-md-1 {
            margin-top: .25rem !important
        }

        .mr-md-1 {
            margin-right: .25rem !important
        }

        .mb-md-1 {
            margin-bottom: .25rem !important
        }

        .mt-md-2 {
            margin-top: .5rem !important
        }

        .mr-md-2 {
            margin-right: .5rem !important
        }

        .mb-md-2 {
            margin-bottom: .5rem !important
        }

        .mt-md-3 {
            margin-top: 1rem !important
        }

        .mr-md-3 {
            margin-right: 1rem !important
        }

        .mb-md-3 {
            margin-bottom: 1rem !important
        }

        .mt-md-4 {
            margin-top: 1.5rem !important
        }

        .mr-md-4 {
            margin-right: 1.5rem !important
        }

        .mb-md-4 {
            margin-bottom: 1.5rem !important
        }

        .mt-md-5 {
            margin-top: 3rem !important
        }

        .mr-md-5 {
            margin-right: 3rem !important
        }

        .mb-md-5 {
            margin-bottom: 3rem !important
        }

        .p-md-0 {
            padding: 0 !important
        }

        .p-md-1 {
            padding: .25rem !important
        }

        .p-md-2 {
            padding: .5rem !important
        }

        .p-md-3 {
            padding: 1rem !important
        }

        .p-md-4 {
            padding: 1.5rem !important
        }

        .p-md-5 {
            padding: 3rem !important
        }
    }

    .text-wrap {
        white-space: normal !important
    }

    .text-primary {
        color: #e6d500 !important
    }

    a.text-primary:focus,
    a.text-primary:hover {
        color: #1244bd !important
    }

    .text-info {
        color: #17a2b8 !important
    }

    a.text-info:focus,
    a.text-info:hover {
        color: #0f6674 !important
    }

    .text-light {
        color: #e4e4e4 !important
    }

    .text-muted,
    a.text-light:focus {
        color: #969696 !important
    }

    @media print {

        *,
        ::after,
        ::before {
            text-shadow: none !important;
            box-shadow: none !important
        }

        a:not(.btn) {
            text-decoration: underline
        }

        img {
            page-break-inside: avoid
        }

        h2,
        h3,
        p {
            orphans: 3;
            widows: 3
        }

        h2,
        h3 {
            page-break-after: avoid
        }

        .container {
            min-width: 992px !important
        }
    }

    html {
        font-family: Inter, sans-serif;
        font-size: 13px
    }

    a:hover {
        text-decoration: none
    }

    .img-wrap {
        text-align: center;
        display: block
    }

    .img-wrap img {
        max-width: 100%
    }

    .price-wrap {
        letter-spacing: -.7px
    }

    .content-body {
        flex: 1 1 auto;
        padding: 2rem 2.3rem
    }

    .img-md,
    .img-sm {
        -o-object-fit: cover;
        object-fit: cover;
        flex-shrink: 0;
        flex-grow: 0
    }

    .img-sm {
        width: 80px;
        height: 80px
    }

    .img-md {
        width: 140px;
        height: 140px
    }

    [class*=hover-] {
        transition: .5s
    }

    .padding-y {
        padding-top: 40px;
        padding-bottom: 40px
    }

    .padding-y-sm {
        padding-top: 20px;
        padding-bottom: 20px
    }

    var {
        font-style: normal
    }

    article:after {
        display: block;
        clear: both;
        content: ""
    }

    .row-sm {
        margin-right: -7px;
        margin-left: -7px;
        display: flex;
        flex-wrap: wrap
    }

    .row-sm>[class^=col] {
        padding-left: 7px;
        padding-right: 7px
    }

    .bg {
        background-color: #f8f9fa
    }

    .bg-img {
        overflow: hidden;
        background-color: #ddd;
        background-position: 0 0, 50% 50%;
        background-size: auto cover
    }

    .section-title {
        color: #212529
    }

    .title-text {
        margin-top: 30px;
        margin-bottom: 10px;
        font-weight: 700;
        color: #212529
    }

    p:last-child {
        margin-bottom: 0
    }

    .btn-light {
        background-color: #fff;
        border-color: #e4e4e4
    }

    .btn-light i {
        color: #969696
    }

    .btn-light:hover {
        background-color: #fff;
        border-color: #989898
    }

    .btn .text+i {
        margin-left: 10px
    }

    .btn i+.text {
        margin-left: 10px
    }

    dl[class=row] {
        margin-bottom: 0
    }

    [class*=dlist-] {
        margin-bottom: 5px
    }

    [class*=dlist-] dd {
        margin-bottom: 0
    }

    ul.row,
    ul.row-sm {
        list-style: none;
        padding: 0
    }

    [class*=list-] li:after {
        visibility: hidden;
        display: block;
        content: "";
        overflow: hidden;
        height: 0;
        clear: both
    }

    .list-dots {
        list-style: none;
        padding-left: 0
    }

    .list-dots li {
        margin-bottom: 5px;
        position: relative;
        padding-left: 15px
    }

    .list-dots li::before {
        content: " ";
        position: absolute;
        top: 8px;
        left: 0;
        width: 7px;
        border-radius: 100%;
        height: 7px;
        background: #ced4da
    }

    .list-check {
        padding-left: 0;
        list-style: none
    }

    .list-check>li {
        position: relative;
        padding-left: 24px;
        margin-bottom: 7px
    }

    .list-check>li::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 12px;
        color: #00b517;
        position: absolute;
        top: 2px;
        left: 0;
        content: ""
    }

    a[class*=card] {
        color: initial
    }

    a[class*=card]:hover .title {
        color: #3167eb
    }

    [class*=card-product] a.title {
        color: #212529;
        display: block
    }

    [class*=card-product] a.title:hover {
        color: #3167eb
    }

    [class*=card-product] p {
        margin-bottom: 0
    }

    [class*=card-product] .img-wrap {
        overflow: hidden;
        position: relative
    }

    [class*=card-product] .img-wrap img {
        height: 100%;
        max-width: 100%;
        width: auto;
        display: inline-block;
        -o-object-fit: cover;
        object-fit: cover
    }


    .card .img-wrap {
        overflow: hidden
    }

    .price {
        font-weight: 600;
        color: #212529
    }

    .label-rating {
        margin-left: 7px;
        display: inline-block;
        vertical-align: middle
    }

    .rating-stars {
        display: inline-block;
        vertical-align: middle;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        white-space: nowrap;
        clear: both
    }

    .rating-stars i {
        font-size: 14px;
        color: #ccc;
        display: inline
    }

    .rating-stars img {
        height: 14px;
        max-width: none
    }

    .rating-stars li {
        display: block;
        text-overflow: clip;
        white-space: nowrap;
        z-index: 1
    }

    .rating-stars li.stars-active {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden
    }

    .rating-stars li.stars-active i {
        color: orange
    }

    .btn-check {
        position: relative;
        display: inline-block;
        border: 2px solid #dee2e6;
        transition: 0s !important
    }

    .btn-check:hover:not(.active) {
        border-color: #bbb
    }

    .gallery-wrap .img-big-wrap {
        margin-bottom: 10px;
        border-radius: .37rem;
        overflow: hidden;
        background-color: #fff
    }

    .gallery-wrap .img-big-wrap a {
        text-align: center;
        display: block
    }

    .gallery-wrap .img-big-wrap img {
        width: auto;
        display: inline-block;
        cursor: zoom-in
    }

    .gallery-wrap .thumbs-wrap {
        text-align: center;
        margin-bottom: 20px
    }

    .gallery-wrap .thumbs-wrap .item-thumb {
        width: 60px;
        height: 60px;
        border: 1px solid #ddd;
        border-radius: 6px;
        margin: 3px;
        display: inline-block;
        overflow: hidden
    }

    .gallery-wrap .thumbs-wrap img {
        max-width: 100%;
        max-height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 4px;
        cursor: zoom-in
    }

    .gallery-wrap .thumbs-wrap img:hover {
        -webkit-filter: brightness(1.1);
        filter: brightness(1.1);
        cursor: zoom-in
    }
}
