<section class="section-content padding-y bg">
  <div class="container">

    <article class="card" *ngIf="product">
      <div class="card-body">
        <div class="row">
          <aside class="col-md-6">
            <article class="gallery-wrap">
              <div class="card img-big-wrap">
                <img
                  [src]="product.images[0] || 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/300px-No_image_available.svg.png'">
              </div> <!-- card img-big-wrap.// -->
            </article> <!-- gallery-wrap .end// -->
          </aside>
          <main class="col-md-6">
            <article>
              <a class="text-primary btn-link">{{product.category}}</a>
              <h3 class="title">{{product.name}}</h3>
              <hr>
              <div>
                <var class="price h1">${{product.price.$numberDecimal}}</var> <br>
              </div>
              <!-- price-detail-wrap .// -->
              <div class="mb-3">
                <h5>About this item</h5>
                <ul class="list-dots mb-0">
                  <li>{{product.description}}</li>
                </ul>
              </div>
              <div class="mb-4">
                <button class="yellow-btn" (click)="addToCart()">Add to Cart</button>
              </div>








            </article> <!-- product-info-aside .// -->
          </main> <!-- col.// -->
        </div> <!-- row.// -->
      </div> <!-- card-body.// -->
    </article>

    <!-- <article class="card mt-5">
            <div class="card-body">
                <div class="row">
                    <aside class="col-md-6">
                        <h5> Measurements </h5>
                        <dl class="row">

                              <dt class="col-sm-3">Width</dt>
                              <dd class="col-sm-9">15.1 cm</dd>

                              <dt class="col-sm-3">Height</dt>
                              <dd class="col-sm-9">30.1 cm</dd>

                              <dt class="col-sm-3">Depth</dt>
                              <dd class="col-sm-9">15.1 cm</dd>

                              <dt class="col-sm-3">Weight</dt>
                              <dd class="col-sm-9">
                                4.45 kg</dd>
                        </dl>
                    </aside>
                    <aside class="col-md-6">
                        <h5>included</h5>
                        <ul class="list-check">
                            <li>Xbox Series X Console</li>
                            <li>Xbox Wireless Controller</li>
                            <li>Ultra High Speed HDMI cable</li>
                            <li>Manules and paper work</li>

                        </ul>
                    </aside>
                </div>
                <hr>
                <p>
                  Get your hands on a gaming powerhouse with the Xbox Series X console. It pairs a custom 1TB SSD and 12 teraflops of graphics processing power for stunningly fast gameplay and reduced load times. Enjoy 4K gaming at up to 120fps, advanced 3D spatial sound, and more for an incredible experience. Plus, it supports thousands of titles across 4 generations of Xbox consoles.
                </p>
            </div>
        </article> -->
  </div>



</section>
