.title{
  border-bottom: 2px solid #a59b9b2b;
  padding-bottom: 8px;
}

.main{
  padding: 8%;
  padding-top: 0;
}

.product-img{
  width: 50px;
}

p-table{
  margin-top: 20px;
}

.steps-container{
  margin-bottom: 20px !important;
}
