.title{
  padding-bottom: 8px;
}

.main{
  padding: 8%;
  padding-top: 0;
}

.product-img{
  width: 50px;
}

p-table{
  margin-top: 20px;
}

.steps-container{
  margin-bottom: 20px !important;
}

.black-btn{
  background-color: red;
  height: 25px;
  width: 100%;
}
.black-btn:hover{
  background-color: black;
  color: white !important;
  width: 100%;
}
